/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.nav {
  background-color: #044389;
  height: 150px;
}

.nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  padding-top: 15px;
}

.footer {
  display: none;
  background-color: #BBE8F1;
  height: 75px;
}

.footer p {
  text-align: center;
  padding-top: 2.5rem;
}

/* Forecast overviews
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.forecasts {
  display: none;
  background-image: url('../images/forecasts-bg.jpg');
  background-size: cover;
  color: #044389;
  padding-bottom: 0rem;
  padding-top: 4rem;
}
.forecast-dark {
  margin-bottom: .5rem;
  color: #044389;
}
.forecast-heading {
  margin-bottom: .3rem;
}
.forecast-description {
  opacity: .8;
  font-weight: 300;
}

.forecast h2:hover {
  font-weight: bold;
}


/* Responsiveness
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .row {
    padding-top: 5rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 8rem;
  }
}

/* Pagewide edits
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
}

p {
  color: #044389;
}


/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal {
  padding: 25px 70px;
  padding-top: 30px;
}

.modal h2 {
  color: #044389;
}

.modal p {
  color: #1EAEDB;
  font-size: 24px;
}